.logo-contacts {
  width: 230px;
  margin-right: 69px;
}
.logo-foot {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: $font-family-logo;
  text-decoration: none;
  }
.logo-web-foot {
  color: $accent-color;
}
.logo-studio-foot {
  color: $bg-color;
}